<div class="right_col pg_content_wrap" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        Change Password
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" novalidate="">
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" >New Password <span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="form-control col-md-7 col-xs-12" data-validate-length-range="6"
                                       required="required" type="password" ng-model="changePwd.pwd1" placeholder="Type New Password" >
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" >Re-Type Password <span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12 repeat_pass_wrap">
                                <input class="form-control col-md-7 col-xs-12" data-validate-length-range="6"
                                       required="required" type="password" ng-model="changePwd.pwd2" ng-change="addPwdChange()"
                                       placeholder="Retype Password Again">
                                <i ng-if="showCorrect" class="glyphicon glyphicon-ok pwd_tick_icon change_pwd_repeat_css"></i>
                                <i ng-if="showWrong" class="glyphicon glyphicon-remove pwd_remove_icon change_pwd_repeat_css"></i>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 text-center">
                                <button id="send" type="submit" class="btn btn-success" ng-disabled="pwdMatch" ng-click="submitPwd()">Submit</button>
                                <button class="btn btn-primary" ng-click="resetPwd()">Reset</button>
                                <button class="btn btn-warning" ng-click="cancelPwd()" >Cancel</button>
                                <!--button class="btn btn-danger" ng-click="pkgDeleteAdd(addPkgObj.id)">Delete</button-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>