<form class="form-horizontal form-label-left" novalidate="">
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">
            First Name
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" disabled ng-model="profileMem.firstName" class="form-control">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">
            Last Name
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" disabled ng-model="profileMem.lastName" class="form-control">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">
            Email
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" disabled ng-model="profileMem.email" class="form-control">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">
            Mobile Number
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" disabled ng-model="profileMem.mobile" class="form-control">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">
            Alternate Mobile Number
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" disabled ng-model="profileMem.alternateMobile" class="form-control">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">
            Date Of Birth(MM/DD/YYYY)
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" disabled ng-model="profileMem.date_of_birth" class="form-control" class="form-control">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">
            Enrollement Date(MM/DD/YYYY)
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" disabled ng-model="profileMem.enrollment_date" class="form-control">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">
            Latest Package Expiry Date(MM/DD/YYYY)
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" disabled ng-model="profileMem.latest_pkg_expiry_date" class="form-control">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">
            Address
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input
                    class="form-control col-md-7 col-xs-12 active"
                    type="text" disabled ng-model="profileMem.lineOne">
            <br/><br/>
            <input
                    class="form-control col-md-7 col-xs-12 "
                    type="text" disabled ng-model="profileMem.lineTwo">
            <br/><br/>
            <input
                    class="form-control col-md-7 col-xs-12 "
                    type="text" disabled ng-model="profileMem.city">
            <br/><br/>
            <input
                    class="form-control col-md-7 col-xs-12 "
                    type="text" disabled ng-model="profileMem.state">
            <br/><br/>
            <input
                    class="form-control col-md-7 col-xs-12 "
                    type="number" disabled ng-model="profileMem.pinCode">
            <br/><br/>
            <input
                    class="form-control col-md-7 col-xs-12 "
                    type="text" disabled ng-model="profileMem.country">
        </div>
    </div>
    <div class="ln_solid"></div>
</form>